<div id="carrusel">

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img id="carruselImg" class="bd-placeholder-img" src="../../../../../assets/banner medio 2.jpg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" >
        <div class="container">
          <div class="carousel-caption">
            <p class="title-style">La Ferreteria de Villa</p>
            <p class="text-style">Hagalo usted mismo</p>
            <p><a class="btn btn-lg btn-primary button-style" aria-disabled="true">Encuentrenos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" >
        <img id="carruselImg" class="bd-placeholder-img"  src="../../../../../assets/banner izquierda 2.jpg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" >
        <div class="container">
          <div class="carousel-caption text-start">
            <p class="title-style">De todo un poco</p>
            <p class="text-style">Tenemos todo lo que necesitas en un solo lugar</p>
            <p><a class="btn btn-lg btn-primary button-style" aria-disabled="true">Ver galería</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" >
        <img id="carruselImg" class="bd-placeholder-img"  src="../../../../../assets/banner prueba chiquito.jpg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" >
        <div class="container">
          <div class="carousel-caption text-end">
            <p class="title-style">Negocio familiar</p>
            <p class="text-style">Somos una ferreteria familiar con más de 30 años de experiencia en el rubro. Fundada en 1986</p>
            <p><a class="btn btn-lg btn-primary button-style" aria-disabled="true">Ver más</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

</div>


