<div id="carrusel">

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 550px;">
        <img id="carruselImg" class="bd-placeholder-img" width=" 100%" height="100%" src="../../../../../assets/banner medio.jpg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" style="filter: brightness(0.5);">
        <div class="container">
          <div class="carousel-caption">
            <h1 style="font-family:'Times New Roman', Times, serif; font-style: oblique;">La Ferreteria de Villa</h1>
            <p style="font-size: 20px; font-family:'Times New Roman', Times, serif; font-style: oblique;">Hagalo usted
              mismo</p>
            <p><a class="btn btn-lg btn-primary" aria-disabled="true" style="font-size: 17px; font-style: oblique;">Encuentrenos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 550px;">
        <img id="carruselImg" class="bd-placeholder-img" width="100%" height="100%" src="../../../../../assets/banner 1a.jpg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" style="filter: brightness(0.8);">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="font-family:'Times New Roman', Times, serif; font-style: oblique;">De todo un poco</h1>
            <p style="font-size: 20px; font-family:'Times New Roman', Times, serif; font-style: oblique;">Tenemos todo
              lo que necesitas en un solo lugar</p>
            <p><a class="btn btn-lg btn-primary" style="font-size: 17px; font-style: oblique;">Ver galería</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 550px;">
        <img id="carruselImg" class="bd-placeholder-img" width="100%" height="100%" src="../../../../../assets/banner derecha.jpg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" style="filter: brightness(0.8);">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1 style="font-family:'Times New Roman', Times, serif; font-style: oblique;">Negocio familiar</h1>
            <p style="font-size: 20px; font-family:'Times New Roman', Times, serif; font-style: oblique;">Somos una
              ferreteria familiar con más de 30 años de experiencia en el rubro. Fundada en 1986</p>
            <p><a class="btn btn-lg btn-primary" style="font-size: 17px; font-style: oblique;">Ver más</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

</div>


