/*Declaramos con palabra reservada MEDIA -> DISPOSITIVOS PEQUEÑOS (ej: celulares)*/




#carruselImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(0.8);
}

.text-style {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

.button-style {
    font-size: 17px;
    font-style: oblique;
}

.h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}