.color {
    background-color: rgb(255, 196, 0) !important;
}

.color1 {
    background-color: #000000 !important;
}

.colora {
    color: rgb(255, 196, 0) !important;
}





.footer {
    width: 100%;
    bottom: 0;
    position: relative;
    z-index: 1000;
    
    
    
}

.footicon {
    font-size: 30px;
    margin: auto;
    text-decoration: none;
    color:#000000;
    transition-duration: 100ms;
    padding: 2px;
}

.footicon:hover {
    font-size: 32px;
    margin: auto;
    text-decoration: none;
    color:#000000;
    transition-duration: 100ms;
    padding: 2px;
}

