<hr class="featurette-divider">


<h2  style="text-align: center;">Nuestras secciones</h2>
<hr class="featurette-divider">

<div class="container text-center">
  <div class="row g-2">

    <div class="col-3">
      <div class="p-3">
        <div class="card shadow-sm">
          <img src="../../../../../assets/herramientas-electricas.jpg" alt="">
          <div class="card-body">
            <h4>Herramientas Electricas</h4>
            <p class="card-text">Encuentra las mejores herramientas eléctricas para tus proyectos.
               Desde taladros hasta sierras, tenemos todo lo que necesitas para hacer el trabajo más fácil y eficiente. </p>
               <br>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" disabled class="btn btn-sm btn-outline-secondary">Ver más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="p-3">
        <div class="card shadow-sm">
          <img src="../../../../../assets/pintureria.jpg" alt="">
          <div class="card-body">
            <h4>Pintureria</h4>
            <p class="card-text">Transforma tu espacio con nuestros productos de pinturería. Ofrecemos una amplia variedad de pinturas, rodillos y brochas para que logres el acabado perfecto en cada proyecto. </p>
            <br>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" disabled class="btn btn-sm btn-outline-secondary">Ver más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="p-3">
        <div class="card shadow-sm">
          <img src="../../../../../assets/herramientas-manuales.jpg" alt="">
          <div class="card-body">
            <h4>Herramientas manuales</h4>
            <p class="card-text">Equípate con nuestras herramientas manuales de alta calidad.
               Ya sea que necesites llaves, alicates o destornilladores, tenemos las herramientas adecuadas para cada tarea.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" disabled class="btn btn-sm btn-outline-secondary">Ver más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="p-3">
        <div class="card shadow-sm">
          <img src="../../../../../assets/electricidad.jpg" alt="">
          <div class="card-body">
            <h4>Electricidad</h4>
            <p class="card-text">Todo lo que necesitas para tus proyectos eléctricos está aquí.
               Descubre nuestra selección de cables, enchufes, herramientas y más para garantizar instalaciones seguras y eficientes.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" disabled class="btn btn-sm btn-outline-secondary">Ver más</button>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>